/* import "../assets/LoginPageBackgroudImage.jpg" */
.backgaroundImage{
    background-image: url(../assets/LoginPageBackgroudImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.backgroundColor{
    background-color: #00523F;
}
.form{
    color: white;
}

.RegistrationLink:hover{
color: yellow;
}
.input{
    background: none;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    padding: 8px;
    font-size: 16px;
    margin-bottom: 15px;
    outline: none;
    }

    .input:focus{
        border-bottom: 2px solid yellow;
    }

    /* .submitButton:active .lampImage{
        filter: drop-shadow(3px 3px 30px rgb(227, 227, 3));
    } */

    /* .lampImage {
        transition: filter 0.3s ease-in-out;
    }

    .glow {
        filter: drop-shadow(3px 3px 30px rgb(227, 227, 3));
    } */